body {
    font-family: 'Palanquin', sans-serif;
    margin: 0;
    padding: 0;
}

#header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

#logo-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

#header-container ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header li {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

header a {
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius:6px;
}

header a:hover {
    background-color: rgb(211, 122, 19);
}